<section class="footer">
  <div class="leftblock">
    <blockquote cite="google.com">
      <p>MovieDBApp made with love by the Ibi team;<br /> a good way to show how awesome is angular.
      </p>
      <footer>—Mlg, <cite>Sofware developer</cite></footer>
    </blockquote>
  </div>
  <div class="rightblock">
    <blockquote cite="google.com">
      <p>It was a nice expirience learning Angular with the Ibi team;
      </p>
      <footer>—Ronaldo, <cite>Juventus Player</cite></footer>
    </blockquote>
  </div>
</section>
<section class="footer-copy">
  <p>Free for any good use <b>No CopyWrite</b></p>
</section>
