<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse right" id="navbarColor01" style="justify-content: flex-end">
    <ul class="navbar-nav mr-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: orangered!important">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="full-screen">
  <img class="full-screen-img" src="./assets/ibi-full-screen.jpg" />

  <div class="div-f div-f-left">
    <span style="
      font-size: 3rem;display: block;
   
      ">&#10094;</span>
  </div>
  <div class="div-f div-f-right">
    <span style="font-size: 3rem;display: block;">&#10095;</span>
  </div>
  <div class="div-center">
    <span style="
        background-color: red;
        color: white;
        width: 30px;
         height: 30px;">&#155;</span>
  </div>
</div>
